# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b41be782e6a4355c7fba59caebb3757a1bff58d40421c8e04bc1ab1a2ffc56dca2d338d0ef844e5220500d678e88a352e1face5719b8371552a013d19e750c99

test:
  secret_key_base: 503998944d916c5e94d2303ca731b2c42f11cad7614f892a026029f578be48317487ed850eabc438f0a8cf88d38e135d269992182065bcae4c46d65ba675b476

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
